 .Bg-app{
    background-image: url("C:\Users\HP\OneDrive\Desktop\final project\cosmetic-store\src\images\img2.webp");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100%;
    
  }
  .Bg-color{
    background-color: blue;
  }

  .view-product{
    padding-top: 50px;
  }

  .table-bordered {
    border: 5px solid #000000;
  }

  .form-group{
    color: #000000;
  }

  .content {
    margin: auto;
    padding: 100px;
  }

  .add-product{
    background-color: #f8da7d;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100%;
  }